<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img alt="logo" class="logo" src="./assets/logo-color.svg">
        <span class="title">SBS</span>
      </div>
      <div class="desc">Spring Boot Seed</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer>
      Copyright
      <i class="anticon anticon-copyright"></i> 2022
      <a href="https://gitee.com/pinweiwan/springboot-seeds" target="_blank" rel="noopener noreferrer">WPW</a>出品
    </global-footer>
  </div>
</div>
